<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="header">
            <div style="display: flex; flex-direction: row; justify-content: center; background-color: aquamarine">
                <header>
                    <a style="margin: 10px 10px" href="">Home</a>
                    <a style="margin: 10px 10px" href="">About</a>
                    <a style="margin: 10px 10px" href="">Contact</a>
                </header>
            </div>
    </div>

</body>
</html>